Load libraries and create df

In [1]:
import pandas as pd
import os
import shutil
path = os.chdir('C:/Users/jewel.espiritu/OneDrive - AMDATEX LAS PINAS SERVICES INC/Python/py') 
sladf = pd.concat(pd.read_excel('./data/WeeklySLA_Data_2022.xlsx', sheet_name=None), ignore_index=True)

In [2]:
SLApivot = pd.pivot_table(sladf, index=['Service','Week'], columns=['TTR Result\n(Excluding Pending Time)'], values=['Ticket No'], aggfunc='count')
Cutoffpivot = pd.pivot_table(sladf, index=['Filing Cut-off','Week'], columns=['Operational Status'], values=['Ticket No'], aggfunc='count')

                       Ticket No
Operational Status      On-going Pending Resolved/ Closed
Filing Cut-off    Week
Apr. 2 - Apr. 8   14        56.0   194.0            623.0
Apr. 23 - Apr. 29 17        64.0    73.0            619.0
Apr. 30 - May 6   18        83.0    62.0            718.0
Apr. 9 - Apr. 15  15        58.0   150.0            517.0
                  16        58.0   148.0            512.0
Feb. 12 - Feb. 18 7         58.0   170.0            616.0
Feb. 19 - Feb. 25 8         51.0   211.0            596.0
Feb. 26 - Mar. 4  9         48.0   141.0            639.0
Feb. 5 - Feb. 11  6         69.0   189.0            543.0
Jan. 1 - Jan. 7   1         39.0   168.0            541.0
Jan. 15 - Jan. 21 3         70.0   142.0            548.0
Jan. 22 - Jan. 28 4         62.0   169.0            687.0
Jan. 29 - Feb. 4  5         47.0   167.0            532.0
Jan. 8 - Jan. 14  2         62.0   171.0            726.0
Jun. 11 - Jun. 17 24        66.0   134.0            659.0
Jun. 18 - Jun. 24 25        56.0   148.0            643.0
Jun. 4 - Jun. 10  23        45.0   185.0            647.0
Mar. 12 - Mar. 18 11        54.0   233.0            614.0
Mar. 19 - Mar. 25 12        81.0   188.0            731.0
Mar. 26 - Apr. 1  13        68.0   216.0            675.0
Mar. 5 - Mar. 11  10        50.0   173.0            619.0
May 14 - May 20   20        98.0   254.0            812.0
May 21 - May 27   21        66.0   141.0            605.0
May 28 - Jun. 3   22        44.0   164.0            513.0
May 7 - May 13    19        69.0    60.0            548.0
Nov. 1 - Apr. 1   14       307.0   487.0              NaN
Nov. 1 - Apr. 22  17       334.0   160.0           1555.0
Nov. 1 - Apr. 29  18       362.0   145.0            523.0
Nov. 1 - Apr. 8   15       329.0   488.0              NaN
                  16       324.0   475.0              NaN
Nov. 1 - Dec. 31  1        484.0   629.0              NaN
Nov. 1 - Feb. 11  7        310.0   299.0              NaN
Nov. 1 - Feb. 18  8        284.0   330.0              NaN
Nov. 1 - Feb. 25  9        276.0   336.0              NaN
Nov. 1 - Feb. 4   6        415.0   322.0              NaN
Nov. 1 - Jan. 14  3        386.0   395.0              NaN
Nov. 1 - Jan. 21  4        391.0   275.0              NaN
Nov. 1 - Jan. 28  5        385.0   308.0              NaN
Nov. 1 - Jan. 7   2        427.0   436.0              NaN
Nov. 1 - Jun. 10  24       170.0   294.0            435.0
Nov. 1 - Jun. 17  25       177.0   234.0            394.0
Nov. 1 - Jun. 3   23       237.0   316.0            708.0
Nov. 1 - Mar. 11  11       242.0   351.0              NaN
Nov. 1 - Mar. 18  12       255.0   355.0              NaN
Nov. 1 - Mar. 25  13       287.0   391.0              NaN
Nov. 1 - Mar. 4   10       286.0   351.0              NaN
Nov. 1 - May 13   20       437.0   552.0           1686.0
Nov. 1 - May 20   21       457.0   487.0            686.0
Nov. 1 - May 27   22       467.0   426.0            493.0
Nov. 1 - May 6    19       424.0   162.0           1127.0

In [3]:
SLApivot = SLApivot.query('Week == 26')
SLApivot.columns = SLApivot.columns.droplevel(0)
SLApivot.columns.name = None
newdf = SLApivot.reset_index()

Cutoffpivot = Cutoffpivot.query('Week == 26')
Cutoffpivot.columns = Cutoffpivot.columns.droplevel(0)
Cutoffpivot.columns.name = None
nnewdf = Cutoffpivot.reset_index()

In [4]:
## For Service Count
newdf['Beyond TAT'] = newdf['Beyond TAT'].fillna(0)
newdf['Within TAT'] = newdf['Within TAT'].fillna(0)

newdf['Beyond TAT'] = newdf['Beyond TAT'].astype(str).apply(lambda x: x.replace('.0',''))
newdf['Within TAT'] = newdf['Within TAT'].astype(str).apply(lambda x: x.replace('.0',''))

newdf["Total Count"] = newdf["Beyond TAT"].astype(int) + newdf["Within TAT"].astype(int)

## For Filing Cutoff
nnewdf['Pending'] = nnewdf['Pending'].fillna(0)
nnewdf['On-going'] = nnewdf['On-going'].fillna(0)
nnewdf['Resolved/ Closed'] = nnewdf['Resolved/ Closed'].fillna(0)
nnewdf['Pending'] = nnewdf['Pending'].astype(str).apply(lambda x: x.replace('.0',''))
nnewdf['On-going'] = nnewdf['On-going'].astype(str).apply(lambda x: x.replace('.0',''))
nnewdf['Resolved/ Closed'] = nnewdf['Resolved/ Closed'].astype(str).apply(lambda x: x.replace('.0',''))

In [5]:
FilePath = r'C:\repo\SLA_Service.xlsx'
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(FilePath, engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
newdf.to_excel(writer, sheet_name='Service', index = False)
writer.save()

FfilePath = r'C:\repo\SLA_Filing.xlsx'
# Create a Pandas Excel writer using XlsxWriter as the engine.
wwriter = pd.ExcelWriter(FfilePath, engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
nnewdf.to_excel(wwriter, sheet_name='Filing', index = False)
wwriter.save()