Load libraries and create df

In [1]:
import pandas as pd
from IPython.display import display
import os
import shutil
path = os.chdir('C:/Users/jewel.espiritu/OneDrive - AMDATEX LAS PINAS SERVICES INC/Python/py')
sladf = pd.concat(pd.read_excel('./data/WeeklySLA_Data_2022.xlsx', sheet_name=None), ignore_index=True)

Create pivot for trend

In [2]:
Trendpivot = pd.pivot_table(sladf, index=['Week'], columns=['TTR Result\n(Excluding Pending Time)'], values=['Ticket No'], aggfunc='count')

Remove the unwanted column level of the pivot table

In [3]:
Trendpivot.columns = Trendpivot.columns.droplevel(0)
Trendpivot.columns.name = None
Trenddf = Trendpivot.reset_index()

Add a total count of Beyond TAT and Within TAT

In [4]:
Trenddf["Total Count"] = Trenddf["Beyond TAT"].astype(int) + Trenddf["Within TAT"].astype(int)
Trenddf

    Week  Beyond TAT  Within TAT  Total Count
0      1         561        1300         1861
1      2         552        1270         1822
2      3         537        1004         1541
3      4         522        1062         1584
4      5         521         918         1439
5      6         525        1013         1538
6      7         470         983         1453
7      8         431        1020         1451
8      9         423        1017         1440
9     10         421        1058         1479
10    11         400        1094         1494
11    12         453        1157         1610
12    13         479        1158         1637
13    14         508        1159         1667
14    15         504        1038         1542
15    16         726        1838         2564
16    17         532        2273         2805
17    18         541        1352         1893
18    19         671        1719         2390
19    20        1100        2739         3839
20    21         698        1744         2442
21    22         630        1477         2107
22    23         617        1521         2138
23    24         498        1260         1758
24    25         456        1196         1652

Save the df into an excel file

In [5]:
FilePath = r'C:\repo\Trend.xlsx'
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(FilePath, engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
Trenddf.to_excel(writer, sheet_name='TREND', index = False)
writer.save()